@model IEnumerable<Guardian_Web.Models.DTO.GuardianTask.GuardianTaskDTO>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Tasks</h1>
        </div>
        <div class="col text-end pt=1">
            <a asp-controller="GuardianTask" asp-action="CreateTaskGuardian" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Task</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Task
                </th>
                <th>
                    Description
                </th>
                <th>
                    Category
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Responsible
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TaksName</td>
                    <td>@item.Description</td>
                    <td>@item.Category</td>
                    <td>@item.Priority</td>
                    <td>@item.GuardianModel.Name</td>
                    <td>
                        <a asp-controller="Guardian" asp-action="UpdateGuardianTask" asp-route-guardianTaskId="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Guardian" asp-action="DeleteGuardianTask" asp-route-guardianTaskId="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>