@model Guardian_Web.Models.DTO.Guardian.GuardianCreateDTO

<form asp-action="CreateGuardian">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Guardian</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div cclass="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <div cclass="col-2">
                <label asp-for="Age" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.Age" class="form-control" />
                <span asp-validation-for="@Model.Age" class="text-danger"></span>
            </div>

            <div cclass="col-2">
                <label asp-for="Occupancy" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.Occupancy" class="form-control"  rows="3"/>
                <span asp-validation-for="@Model.Occupancy" class="text-danger"></span>
            </div>

            <div cclass="col-2">
                <label asp-for="Adress" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.Adress" class="form-control" />
                <span asp-validation-for="@Model.Adress" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-controller="Guardian" asp-action="IndexGuardian" class="btn-primary btn form-control">Back to list</a>
            </div>

            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}